<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter02_2_Move.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyOpenGLCoco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA7A2E4F1F2C3CB00050D25B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7A2E651F2C3CB00050D25B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7A2E701F2C3CB00050D25B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB02B4E1F2C8F35004B9277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB02B631F2C8F36004B9277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB02B6E1F2C8F36004B9277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB02B811F2C9213004B9277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
